.Explore {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ExploreTitle {
  text-align: left;
  margin-left: 25px;
}
.ExploreMealsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
