.MealDetails {
  display: flex;
  justify-content: center;
}
.MealDetailsContainer {
  display: flex;
  flex-direction: column;
}
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
